body {
    color: white;
    background: #000;

}
.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 42vw;
    height: 70%;
    gap: 2vw;
    box-shadow: 5px 5px 5px 6px white;
    border-radius: 20px;
    padding: 1vw;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}
.threes button {
    width: 6.9vw;
    height: 9vw;
    background-color: blue;
    border: none;
    color:rgb(209, 37, 157);
    border-radius: 3px;
    font-size: 3vw;
    font-weight: 900;
}
.others .num, .others .operator, .others .operatorOther {
    width: 9.5vw;
    height: 7vw;
    background: rgb(21, 255, 0, 0.7);
    border: none;
    border-radius: 3px;
    color: rgb(247, 244, 244);
    font-size: 4vw;
}
.others {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 1vw;
}
#display {
    height: 10vw;
    box-shadow: 5px 5px 5px green;
    border-radius: 20px;
    padding: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: rgb(63, 63, 2);
    flex: 1 1 auto;
    font-size: 4vw;
    white-space: wrap;
}
.dis {
    display:flex;
    width: 41vw;
    padding-bottom: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 0.5vw;
    justify-content: flex-end;
}
.all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.others .operator,.others .operatorOther {
    background: rgb(235, 169, 29);
}
.pop {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: rgb(0, 247, 255,0.5);
    width: 41vw;
    height: 6vw;
    border-radius: 30px;
    padding: 10px;
    font-size: 4vw;
    overflow: hidden;
}
button:hover{
    box-shadow: 3px 3px 3px red;
    border: 1px groove rgb(117, 0, 128);
    font-size: 4vw;
    padding-right: 10px;
}
footer {
    color: brown;
    font-style: italic;
}
h1 {
    text-align: center;
    color:rgb(236, 20, 20);
    font-style: italic;
    font-size: 5vw;
}

